/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/* GENERAL */
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: whitesmoke;
}
#main {
  margin: 20px 20px;
  border: 5px black solid;
  border-radius: 5px;
  background-color: rgba(159, 172, 189, 0.25);
}

/* TITLE */
#title {
  font-size: 1.6rem;
  margin: 20px auto;
  width: 50%;
  text-align: center;
  padding: 20px 0;
  align-items: center;
}
#title-paragraph {
  font-size: 2rem;
}

/* PHOTO */
#img-div {
  background-color: whitesmoke;
  margin: 20px auto;
  border-radius: 5px;
  border: 5px solid grey;
  width: 90%;
}
#image {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
}
#img-caption {
  /* background: red; */
  margin: 20px auto;
  width: 50%;
  text-align: center;
  font-size: 1.4rem;
}

/* TRIBUTE */
#tribute-info {
  margin: 20px auto;
  text-align: justify;
  line-height: 2.6rem;
  border: solid grey 5px;
  border-radius: 5px;
  width: 90%;
}
#paragraphs {
  border: 5px solid #d3d3d3;
  width: 70%;
  margin: 20px auto;
}
#paragraph1 {
  margin-top: 15px;
}
#paragraph1,
#paragraph2 {
  font-size: 1.6rem;
  margin: 20px auto;
  width: 70%;
}
#wiki-link {
  display: block;
  text-align: center;
  font-size: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#tribute-link {
  text-decoration: none;
  color: darkblue;
}
#tribute-link:hover {
  text-decoration: underline;
}

/* QUOTE */
#quote-div {
  width: 35%;
  margin: 20px auto;
}
#quote-text {
  font-size: 1.8rem;
  margin: 20px auto;
  text-align: center;
  line-height: 2.6rem;
  border: solid lightgrey 5px;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 1.2rem;
  }
  #title-paragraph {
    font-size: 1.6rem;
  }
  #img-caption {
    font-size: 1rem;
  }
  #tribute-info {
    line-height: 2.2rem;
  }
  #paragraph1,
  #paragraph2 {
    font-size: 1.2rem;
  }
  #wiki-link {
    font-size: 1.6rem;
  }
  #quote-div {
    width: 80%;
  }
  #quote-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
